.search{

    display: flex;
    align-items: center;
    justify-content: space-around;

}


input{
    width: 70%;
    margin: 10px;
    height: 35px;
    outline: none;
    font-size: 20px;
    color: #414141;
    border: none;
    border-radius: 10px;
    background-image: url("./3028692271535694869.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px;

}
